<head>
  <title> Aldo Dashboard </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
<img class="logo-img" src="assets/images/Aldo_Group_logo.svg">

<div class="row" id="content-container">
  <div class="col s12">
    <ul class="tabs" id="store-tabs">

    </ul>
  </div>
</div>
<audio id="warning-audio" src="assets/audio/warning.mp3">
</audio>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="assets/javascript/utilities.js"></script>
<script src="assets/javascript/store.js"></script>
<script src="assets/javascript/shoe.js"></script>
<script src="assets/javascript/index.js"></script>
</body>