.logo-img{
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabs{
    height: auto;
}

.blinking {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        background: red;
    }
}